body{
    background-color: #fbcc43}
#header{
    background-color:#fbcc43 ;
}
#header a:link, #header a:visited, #user-tools, #content{
    color:black ;
    font-size: 20px;
}
#content h1{
    color: #1b2c6b;
}
tbody{
    color: white;
}
.form-row {
    color:#fbcc43;
}